@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Body Styles */
body {
	overflow-x: hidden;
	height: 100%;
}
body {
	background-color:#F7F7F7;
	font-family: 'Raleway', sans-serif;
	padding-top: 60px;
}
/* Body Styles End */

/* Common Styles */
.relative {
	position:relative;
}
.social-icons .fa {
	font-size: 1.5em;
}
.social-icons .fa {
	line-height: 40px;
	width: 40px;
	height: 40px;
}
.modal label {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color:#ff751a;
}
.form-control {
	background: #f5f5f5;
	font-size: 14px;
	font-weight: 300;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #edeaf3;
	padding: 10px;
	width: 100%;
	margin-bottom: 5px;
	box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
	height:auto !important;
	margin: 0;
}
.form-control:focus {
	background: #fff;
	box-shadow: 0px 0px 0px 1px #edeaf3, inset 0px 1px 1px rgba( 0,0,0,0.2 ), 0px 2px 2px rgba( 0,0,0,0.15 );
	outline: none;   
}
input[type="file"].form-control {
	padding: 7px;
}
.player, .training {
	display:block;
	width:100%;
	height:auto;
}
.no-items {
    padding: 150px;
    text-align: center;
	font-weight:300;
    color: #263652;
    font-size: 14px;
	line-height: 1.5;
}
ul[role="tablist"] {
	display: none;
}
.AlertMessage {
	white-space:normal;
}
/* Common Styles End */

/* NProgress */
#nprogress {
	pointer-events: none;
}
#nprogress .bar {
	background: #29d;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}
#nprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
}
.nprogress-custom-parent #nprogress .spinner, .nprogress-custom-parent #nprogress .bar {
	position: absolute;
}
@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace-inactive {
	display: none;
}
.pace .pace-progress {
	background: #1abb9c;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}
/* NProgress */

/* Notification Area */
.notifications {
	display:inline-block;
	margin-left:20px;
}
.notifications .fa-bell {
	border-radius: 50%;
    font-size: 20px;
    height: 30px;
    line-height: 1.5;
    text-align: center;
    width: 30px;
	color:#2A3F54;
}
#notification-center {
	left: 16px;
    position: absolute;
    top: 0;
}
.notification-count {
	position: absolute;
	background-color: #f00;
	width: 20px;
	height: 20px;
	font-size: 10px;
	text-align: center;
	border-radius: 50%;
	line-height: 1.6;
	left: 50%;
	font-style: normal;
}
.notification-count:hover {
	background-color: #f00;
}
.notifications ul.dropdown-menu {
	min-width:350px; 
	padding: 0;
	border-radius: 0;
	right: -15px;
}
.notifications ul li.divider {
	margin: 0;
}
.notifications .notifications-wrapper {
	height:340px;
	overflow:hidden;
}
.notifications .notifications-wrapper .nano {
	height: 100%;
}
.notifications .notifications-wrapper a {
	text-decoration: none;
}
.notifications .menu-title {
	color: #ff751a;
    font-size: 1.5rem;
    line-height: 0.75;
}
.notifications .notification-heading {
	padding:2px 15px;
}
.notifications .notification-footer {
	 padding: 0;
}
.notifications .notification-footer a {
	padding:5px 15px;
	text-align: center;
	display:block;
	font-size: 12px;
}
.notifications .item-title, .notifications-page .item-title {
	color: #333;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 1.34;
	margin: 0;
}
.notifications .item-info, .notifications-page .item-info {
	font-size: 12px;
    margin: 0;
    padding-top: 3px;
    line-height: 1.34;
}
.notifications .notification-item, .notifications-page .notification-item {
    border: 1px solid #ddd;
    margin: -1px;
	min-height: 70px;
    padding: 10px 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.notifications .notification-item.Unread, .notifications-page .notification-item.Unread {
	background-color: #E9EAED;
}
.notifications .notification-item.Read, .notifications-page .notification-item.Read {
	background-color: #fff;
}
.notifications .notification-item:hover, .notifications-page .notification-item:hover {
	background-color: #F6F7F8;
}
.notifications .notification-item.no-item, .notifications-page .notification-item.no-item {
	background-color: #fff;
    border: none;
    margin: 0;
    padding: 5px 15px;
	display:table;
	width:100%;
	height: 340px;
	text-align:center;
}
.notifications .notification-item.no-item .item-title, .notifications-page .notification-item.no-item .item-title {
	vertical-align: middle;
	display:table-cell;
}
.notifications .notification-image, .notifications-page .notification-image {
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    max-width: 50px;
    max-height: 50px;
    position: relative;
}
.notifications .notification-image > img, .notifications-page .notification-image > img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.notifications-page {
	padding:30px 0;
}
.notifications-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.notifications-page .full-notification {
    margin-bottom: 15px;
	padding:15px 0;
	float: left;
	min-height: 1px;
	width: 100%;
}
/* Notification Area End */

/* Navbar Classes */
.navbar-default {
	background-color: #EDEDED;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	margin: 0;
	height:60px;
}
.navbar-default .navbar-header {
	background-color:#2A3F54;
	width: 230px;
	margin-left: -15px;
	text-align:center;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    height: 60px;
    margin: 0;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}
.navbar-brand > img {
	display:inline-block;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default .navbar-toggle {
    background-color: #7493b4;
    border: medium none;
    margin: 5px 0;
    padding: 10px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: rgba(116, 147, 180, 0.5);
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    margin: 15px 0;
    padding: 0;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:focus > .fa-bell, 
.navbar-default .navbar-nav > li > a:hover > .fa-bell {
	color:#fff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover {
	border-radius: 50%;
	background-color: #2A3F54;
	color:#fff;
}
.navbar-right {
	margin-right: 0;
}
.navbar-right .dropdown-toggle > span {
    background-color: #2A3F54;
    border-radius: 5px 0 0 5px;
    float: left;
    margin: 0 1px 0 0;
    padding: 5px 10px;
}
.navbar-right .dropdown-toggle > i.fa-caret-down {
    background-color: #2A3F54;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    padding: 8px 10px;
}
.navbar-right .dropdown-toggle > span:hover, 
.navbar-right .dropdown-toggle > span:focus, 
.navbar-right .dropdown-toggle > i:hover, 
.navbar-right .dropdown-toggle > i:focus {
	background-color:#2A3F54;
}
.navbar-right .navbar-form {
	margin-top:15px;
	margin-bottom:15px;
}
.navbar-right .navbar-form > .form-control {
    background-color: #F7F7F7;
    box-shadow: none;
    color: #2A3F54;
    display: inline-block;
    height: 30px;
    margin-right: -20px;
    padding: 5px 25px 5px 5px;
    vertical-align: middle;
    width: auto;
	border-color: #2A3F54;
}
.navbar-right .navbar-form > .fa {
    color: #2A3F54;
}
.navbar-right .dropdown-menu {
	border-radius: 0;
	padding:0;
}
.navbar-right .dropdown-menu > li > a {
	padding: 10px 15px;
}
.navbar-right .dropdown-menu .divider {
	margin: 0;
}
.navbar-default .top-datetime {
    float: left;
    margin-top: 20px;
    color: #2A3F54;
    font-weight: bold;
    font-size: 14px;
}
/* Navbar Classes End */

/* Common Classes For All Pages */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
#wrapper.toggled {
    padding-left: 230px;
    overflow: scroll;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed; 
    left: 230px;
    width: 0;
    height: 100%;
    margin-left: -230px;
    overflow-y: auto;
    background-color: #2A3F54;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	box-shadow:2px 0 3px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow:2px 0 3px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:2px 0 3px 0 rgba(0, 0, 0, 0.25);
}
#wrapper.toggled #sidebar-wrapper {
    width: 230px;
}
#page-content-wrapper {
    position: absolute;
    padding: 15px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden; 
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; 
}
/* Common Classes For All Pages End */

/* Sidebar Classes */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-nav li {
	position: relative;
    line-height: 60px;
	display: table;
	margin:0 !important;
	height: 60px;
	background: linear-gradient(#334556, #2c4257) repeat scroll 0 0%, #2a3f54 none repeat scroll 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;
    color: #ff0000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.sidebar-nav li a {
    color: #fff;
    display: block;
    text-decoration: none;
    vertical-align: middle;
	border-radius: 0;
	width: 230px;
	height: 60px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	outline: none;
}
.sidebar-nav li a:hover, 
.sidebar-nav li a:focus,
.sidebar-nav li.active a:hover,
.sidebar-nav li.active a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #545454;
}
.sidebar-nav li.active > a {
    text-decoration: none;
    color: #2A3F54;
    background-color: #F7F7F7;
}
.sidebar-nav i {
    text-align: center;
    width: 60px;
	padding: 15px;
	height: 60px;
	display:table-cell;
	vertical-align: middle;
}
.sidebar-nav span {
	height: 60px;
	display: table-cell;
}
.sidebar-nav small.fa-caret-down {
	font-size: 0;
	position:absolute;
	right: 15px;
	top: 25px;
}
.sidebar-nav li > div {
	border-top: 1px solid #959595;
}
.sidebar-nav li > div a {
	font-size: 13px !important;
}
.sidebar-nav li > div a.active {
    text-decoration: none;
    color: #2A3F54;
    background-color: #F7F7F7;
}
#menu li a:hover,
#menu li a:focus,
#menu li a:active {
	color: #2A3F54;
    background-color: #fff;
}
.sidebar-nav li > div i {
	text-indent: 15px;
	font-size: 13px !important;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 230px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 230px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 230px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 60px;
    }
	#wrapper.toggled-2 #sidebar-wrapper .sidebar-nav {
		width: 60px;
	}
	#wrapper.toggled-2 #sidebar-wrapper:hover,
	#wrapper.toggled-2 #sidebar-wrapper:hover .sidebar-nav,
	#wrapper.toggled-2 #sidebar-wrapper:hover .sidebar-nav li a {
		width: 230px;
	}
	#wrapper.toggled-2 #sidebar-wrapper:hover .sidebar-nav i {
		font-size: 20px;
	}
	#wrapper.toggled-2 #sidebar-wrapper:hover .sidebar-nav small.fa-caret-down {
		font-size: 14px;
	}
	#wrapper.toggled-2 #sidebar-wrapper:hover .sidebar-nav li a {
		font-size: 14px;
		font-weight: normal;
	}
	#wrapper.toggled-2 #sidebar-wrapper .sidebar-nav li a {
		width: 60px;
		font-size:0;
	}
	#wrapper.toggled-2 #sidebar-wrapper .sidebar-nav i {
		font-weight: bold;
		font-size: 24px;
		height: 60px;
	}
    #page-content-wrapper {
        padding: 0;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
	#wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -230px;
 		padding-left: 60px;
    }	
}
/* Sidebar Classes End */

/* Profile Page */
.profile-page { }
.profile-page .profile-sec {
	text-align: center;
	padding: 30px 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-right: -1px;
	min-height: 92vh;
}
.profile-page .profile-sec img.img-circle {
	border: 5px solid #4f7195;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
}
.profile-page .profile-sec h3 {
	margin: 15px 0;
	font-size: 20px;
	font-weight: 700;
}
.profile-page .trainer-profile {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 30px 15px;
	min-height: 90vh;
}
.profile-page .trainer-profile .profile-row {
	margin-bottom: 30px;
}
.profile-page .trainer-profile .profile-row h2 {
	margin: 0 0 15px 0;
}
.profile-page .trainer-profile .profile-row h2 span {
	color: #6282A5;
	font-weight: 700;
	text-decoration: underline;
}
.profile-card{
	min-height: 350px;
	height: auto;
}
.social-icons i {
    padding: 0;
}
#picModal .modal-dialog, 
#bioModal .modal-dialog, 
#expModal .modal-dialog {
	width: 700px;
}
#picModal .modal-dialog .btn, 
#bioModal .modal-dialog .btn, 
#expModal .modal-dialog .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
#picModal .modal-dialog .btn:hover,
#bioModal .modal-dialog .btn:hover,
#expModal .modal-dialog .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.edit-btn-small {
	border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
	position:absolute;
	right: 0;
	border-color: transparent;
	color: #777;
	width: 60px;
}
/* Profile Page End */

/* News Feed Page */
.news-feed-page {
	min-height: 90vh;
}
.news-feed-page .popular-trainers {
	padding: 30px 15px;
	text-align:center;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-right: -1px;
}
.news-feed-page .popular-trainers h3 {
	margin: 0 0 15px 0;
	color: #32404E;
	font-size: 20px;
	font-weight: 700;
}
.news-feed-page .popular-trainers ul {
	list-style:none;
	padding: 0;
	margin: 0;
}
.news-feed-page .popular-trainers ul li {
	display: inline-block;
	margin: 8px;
}
.news-feed-page .popular-trainers img.img-circle {
	border: 2px solid #4f7195;
}
.news-feed-page .popular-trainings {
	padding: 30px 15px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-right: -1px;
}
.news-feed-page .popular-trainings h3 {
	margin: 0 0 15px 0;
	text-align:center;
	color: #32404E;
	font-size: 20px;
	font-weight: 700;
}
.news-feed-page .popular-trainings .popular-video {
	margin-bottom: 30px;
}
.news-feed-page .popular-trainings .popular-video h4 a {
	color: #3A4B5D;
	font-weight: 500;
	font-size: 18px;
}
.news-feed-page .training-video .video-wrap > img {
	height: auto;
	display: inline;
}
.news-feed-page .popular-trainings .popular-video:last-child {
	margin: 0;
}
.news-feed-page .popular-trainings .popular-video > p {
	margin: 0;
}
.news-feed-page .popular-communities {
	padding: 30px 15px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-right: -1px;
}
.news-feed-page .popular-communities h3 {
	margin: 0 0 15px 0;
	text-align:center;
	color: #32404E;
	font-size: 20px;
	font-weight: 700;
}
.news-feed-page .popular-communities .communities {
	margin-bottom: 30px;
}
.news-feed-page .popular-communities .communities:last-child {
	margin: 0;
}
.news-feed-page .popular-communities .communities img.img-circle {
	float:left;
	margin-right: 15px;
	border: 1px solid #ddd;
}
.news-feed-page .popular-communities .communities p {
	height: 60px;
	margin: 0;
}
.news-feed-page .popular-communities .communities p strong {
	padding: 8px 0 0 0;
	display:inline-block;
	color: #353535;
}
.news-feed-page .training-video {
	margin-right:-1px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-top:20px;
	position: relative;
	overflow: hidden;
}
.news-feed-page .training-video .video-wrap {
	text-align:center;
	margin-bottom: 30px;
	white-space:nowrap;
	padding: 0 15px;
}
.news-feed-page .training-video .video-desc {
	padding: 0 15px;
}
.news-feed-page .training-video .video-desc strong {
	font-weight: 300;
	font-size: 11px;
}
.news-feed-page .training-video .video-footer {
	padding: 0 15px;
}
.news-feed-page .training-video h2 {
	margin: 0 0 15px 0;
}
.news-feed-page .training-video h3 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: 700;
}
.news-feed-page .training-video .post-time {
	float: right;
	line-height:32px;
	font-size: 13px;
}
.news-feed-page .training-video .btn.btn-block {
	padding: 5px 0;
}
.news-feed-page .training-video .btn {
	border-color: #4f7195;
    border-radius: 25px;
    padding: 10px 30px;
}
.news-feed-page .survey_msg {
	margin-top: 0;
}
.news-feed-page .training-video .btn:hover {
	background-color: #4f7195;
	color: #fff;
}
.news-feed-page .questionnaire-set {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 15px 0 0 0;
	text-align:left;
	background-color:#efefef;
}
.news-feed-page .questionnaire-set.hide {
	position:absolute;
}
.news-feed-page .training-video .video-wrap .content-cta {
	border:1px solid #ddd;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0;
	text-align:left;
	background-color:#efefef;
}
.news-feed-page .form-action {
	background-color:#efefef;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #cecece;
	padding: 5px 15px;
	text-align: right;
	line-height:3;
    margin-top: -5px;
    z-index: 9;
    position: relative;
}
.news-feed-page .questionnaire-set.survey_submit {
	text-align:center;
}
.news-feed-page .survey_promotion [type="radio"] {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: 0; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
}
.news-feed-page .survey_promotion label {
	position:relative;
	display: block;
	cursor: pointer;
	line-height: 2;
	font-size: 15px;
	margin: 0;
}
.news-feed-page .survey_promotion [type="radio"] + span {
	display: block;
    font-weight: normal;
    padding-left: 1.5em;
}
.news-feed-page .survey_promotion [type="radio"] + span:before {
	border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #000;
    content: "";
    display: inline-block;
    height: 1em;
    margin-right: 15px;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    width: 1em;
    position: absolute;
    top: 9px;
    left: 0;
}
.news-feed-page .survey_promotion [type="radio"]:checked + span:before {
	background: #4F7195;
	box-shadow: 0 0 0 2px #000;
}
.news-feed-page .survey_promotion [type="radio"]:focus + span:after {
	content: '\0020\2190';
	font-size: 24px;
	line-height: 0.1;
	vertical-align: middle;
}
.news-feed-page .questionCard {
	position: relative;
	border:1px solid #ddd;
}
/* News Feed Page End */

/* Training Page */
.training-page { }
.training-page .profile-sec {
	text-align: center;
	padding: 30px 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin-right: -1px;
	min-height: 90vh;
}
.training-page .profile-sec img.img-circle {
	border: 5px solid #4f7195;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
}
.training-page .profile-sec h3 {
	margin: 15px 0;
	font-size: 20px;
	font-weight: 700;
}
.training-page .trainer-profile {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 30px 15px;
	min-height: 90vh;
}
.training-page .trainer-profile .profile-row {
	margin-bottom: 30px;
}
.training-page .trainer-profile .profile-row h2 {
	margin: 0 0 15px 0;
}
.training-page .trainer-profile .profile-row h2 span {
	color: #6282A5;
	font-weight: 700;
	text-decoration: underline;
}
.training-page .profile-sec .btn {
	border-color: #4f7195;
    border-radius: 25px;
    padding: 10px 30px;
}
.training-page .training-video {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-bottom: 60px;
}
.training-page .training-video .video-wrap {
	margin-bottom: 30px;
	min-height: 350px;
}
.training-page .training-video .video-wrap > img {
	display: inline-block;
}
.training-page .training-video .video-desc {
	padding: 0 15px;
}
.training-page .training-video .video-footer {
	padding: 0 15px;
}
.training-page .training-video h2 {
	margin: 15px 0;
	font-size: 24px;
	font-weight: 700;
}
.training-page .training-video h3 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: 700;
}
.training-page .training-video .post-time {
	float: right;
	line-height:32px;
	font-size: 13px;
}
.training-page .training-video .btn.btn-block {
	padding: 5px 0;
}
.training-page .training-video .btn {
	border-color: #4f7195;
    border-radius: 25px;
    padding: 10px 30px;
}
.training-page .training-video .btn:hover {
	background-color: #4f7195;
	color: #fff;
}
.training-page .profile-sec .btn {
	border-color: #4f7195;
    border-radius: 25px;
    padding: 10px 30px;
}
.training-page .profile-sec .btn:hover {
	background-color: #4f7195;
	color: #fff;
}
.payment-modal{
	z-index:9999999999;
}
.training-page .demo-container {
	width: 100%;
	max-width: 350px;
	margin: 50px auto;
}
.training-page form {
	margin: 30px;
}
.training-page input {
	width: 200px;
	margin: 10px auto;
	display: block;
}
#registerModalForm {
	margin:0;
}
#registerModalForm .form-control {
	margin:0;
	width:100%;
}
.following {
    border-radius: 25px;
    padding: 10px 30px;
	background-color: #4f7195;
	color: #fff !important;
}
.following:hover {
    border-color: #4f7195 !important;
	background-color: #fff !important;
	color: #4f7195 !important;
}
#myModal-3 {
	z-index:99999;
}
/* Training Page End */

/* Downline Members Page */
.downline-members-page {
	padding: 30px 0;
	min-height: 90vh;
}
.downline-members-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.downline-members-page .member-rows {
	text-align:center;
	background-color: #CBDBED;
	padding: 15px;
	box-shadow: 0 1px 2px 0 #6282A5;
	height: 300px;
}
.downline-members-page .member-rows .btn {
	border-color: #4f7195;
    border-radius: 25px;
    padding: 10px 30px;
}
.downline-members-page .member-rows .btn:hover {
	background-color:#4f7195;
	color: #fff;
}
.downline-members-page .member-rows img.img-circle {
	border: 3px solid #6282A5;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
	display: inline-block;
	height:125px;
	width: 125px;
}
/* Downline Members Page End */

/* Invite Friends Page */
.invite-friend-page {
	padding: 30px 15px;
}
.invite-friend-page .invite {
	padding-left: 20px;
}
.invite-friend-page .invite-border {
	border:1px solid lightgray;
	background-color: #F2F1EF;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 0 15px;
}
.invite-friend-page .invite-border h3 {
	font-weight:100;
	font-size: 20px;
	margin: 25px 0;
	line-height: 1.5;
}
.invite-friend-page .invite-border h5 {
	font-weight:300;
	font-size: 18px;
	margin: 0 0 25px 0;
	line-height: 1.5;
}
.invite-friend-page .invite-border h4 {
	padding: 5px 10px;
	font-size: 24px;
	font-weight: 400;
	color: #ff751a;
	border-radius: 20px;
	
}
.invite-friend-page .img-logo {
	margin-top: -40px;
    text-align: center;
}
.invite-friend-page .col-mid-content {
	text-align: center;
	margin: 30px 0;
}
.invite-friend-page .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
.invite-friend-page .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.invite-friend-page .form-control {
	width: 50%;	
	display: inline-block;
}
/* Invite Friends Page End */

/* Training List Page */
.training-list-page {
	padding: 30px 0;
}
.training-list-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	font-size:32px;
}
.training-list-page .input-group-btn .btn {
	padding:10px;
}
.training-list-page .border-blue {
	border:1px solid #355c7d;
	background-color: #355c7d;
	color: white;
	margin-top: -5px;
}
.training-list-page .xseries {
	margin-left:100px;
}
.training-list-page .border-white {
	border:1px solid  #ECECEC;
	background-color: #ECECEC;
	padding: 15px;
	margin-bottom: 15px;
}
.training-list-page h3 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: 700;
}
.training-list-page p {
	font-size: 14px;
	color: #86999b;
}
.training-list-page .like {
	padding: 0;
}
.training-list-page .like .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
	float: right;
}
.training-list-page .like .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.training-list-page .like .fav-logo{
	color:#FF0000;	
}
.training-list-page .pagination {
    display: inline-block;
    padding: 0;
    margin: 50px 0 25px 0;
	width: 100%;
	text-align:center;
}
.training-list-page .pagination li {
	display: inline-block;
}
.training-list-page .pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
}
.training-list-page .pagination li.active a {
    background-color:  #d95b43;
    color: white;
    border: 1px solid  #d95b43;
    border-radius: 4px;
}
.training-list-page .pagination li:hover:not(.active) a {
	background-color: #ddd;
}
/* Training List End */

/* Ongoing Trainings Page */
.ongoing-trainings-page {
	padding: 30px 0;
}
.ongoing-trainings-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.ongoing-trainings-page .border-blue {
	border:1px solid #355c7d;
	background-color: #355c7d;
	color: white;
	margin-top: -5px;
}
.ongoing-trainings-page .xseries {
	margin-left:100px;
}
.ongoing-trainings-page .border-white {
	border:1px solid  #ECECEC;
	background-color: #ECECEC;
	padding: 15px;
	margin-bottom: 15px;
}
.ongoing-trainings-page h3 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: 700;
}
.ongoing-trainings-page p {
	font-size: 14px;
	color: #86999b;
}
.ongoing-trainings-page .like {
	padding: 0;
}
.ongoing-trainings-page .like .fav-logo{
	color:#FF0000;	
}
.ongoing-trainings-page .like .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
	float: right;
}
.ongoing-trainings-page .like .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.ongoing-trainings-page .pagination {
    display: inline-block;
    padding: 0;
    margin: 50px 0 25px 0;
	width:100%;
	text-align:center;
}
.ongoing-trainings-page .pagination li {
	display: inline-block;
}
.ongoing-trainings-page .pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
}
.ongoing-trainings-page .pagination li a.active {
    background-color:  #d95b43;
    color: white;
    border: 1px solid  #d95b43;
    border-radius: 4px;
}
.ongoing-trainings-page .pagination li a:hover:not(.active) {
	background-color: #ddd;
}
/* Ongoing Trainings Page End */

/* Favorite Trainings Page */
.favorite-trainings-page {
	padding: 30px 0;
}
.favorite-trainings-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.favorite-trainings-page .border-blue {
	border:1px solid #355c7d;
	background-color: #355c7d;
	color: white;
	margin-top: -5px;
}
.favorite-trainings-page .xseries {
	margin-left:100px;
}
.favorite-trainings-page .border-white {
	border:1px solid  #ECECEC;
	background-color: #ECECEC;
	padding: 15px;
	margin-bottom: 15px;
}
.favorite-trainings-page h3 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: 700;
}
.favorite-trainings-page p {
	font-size: 14px;
	color: #86999b;
}
.favorite-trainings-page .fav-ongoing-status {
    color: #0cf;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 50px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}
.favorite-trainings-page .like {
	padding: 0;
}
.favorite-trainings-page .like .fav-logo{
	color:#FF0000;	
}
.favorite-trainings-page .like .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
	float: right;
}
.favorite-trainings-page .like .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.favorite-trainings-page .pagination {
    display: inline-block;
    padding: 0;
    margin: 50px 0 25px 0;
	width:100%;
	text-align:center;
}
.favorite-trainings-page .pagination li {
	display: inline-block;
}
.favorite-trainings-page .pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
}
.favorite-trainings-page .pagination li a.active {
    background-color:  #d95b43;
    color: white;
    border: 1px solid  #d95b43;
    border-radius: 4px;
}
.favorite-trainings-page .pagination li a:hover:not(.active) {
	background-color: #ddd;
}
/* Favorite Trainings Page End */

/* Withdraw Payment Page */
.payment-detail-header {
	display: inline-block;
	margin-left: 130px;
	font-weight: bold;
	color: #355c7d;
}
.secure-trans {
	margin-left:530px;
}
.horizontal-line {
	width: 910px;
	margin-top: 2px;
	border:2px solid #293d3d;
}
.payment-sub {
	margin-left: 130px;
	margin-top:-10px;
	font-size: 16px;
}
.payment-info-header {
	margin-left: 450px;
	margin-top: 30px;
	font-size: 18px;
}
.horizontal-line-dotted {
	width: 910px;
	border:2px solid #293d3d;
	border-style: dotted;
}
.paypal-detail-header {
	margin-left: 130px;
	font-weight: bold;
	color: #355c7d;
}
.welcome {
	margin-left: 130px;
	font-size: 16px;
}
.paypal-login {
	margin-left: 450px;
	margin-top: 20px;
}
.login-info-header {
	margin-left: 400px;
	margin-top: 30px;
	font-size: 18px;
}
.login-info-header .input-group input[type="text"] {
    border-radius: 4px;
}
.btn-continue {
	margin-left: 930px;
}
.modal-title {
	font-size: 20px;
	font-weight: bold;
	color: #355c7d;
}
.credit-card-box .panel-title {
    display: inline;
    font-size: 18px;
}
#panel-default > #panel-heading {
	background-color:  #355c7d;
    color: white;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
	color: #3f4944;
}
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.credit-card-box .panel-heading img {
    min-width: 180px;
}
#transaction-btn {
	font-weight:bold;
	background-color:  #355c7d;
}
/* Withdraw Payment Page End */

/* Dashboard Page */
.dashboard-page {
	padding:0;
}
.dashboard-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.dashboard-page .dash-in {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 15px;
	text-align:center;
}
.dashboard-page .dash-in h3 {
	margin: 0 0 15px 0;
	font-size: 20px;
	font-weight: 700;
	padding: 0 100px;
	line-height: 1.5;
}
.dashboard-page .dash-in i {
	background-color: #333333;
    border-radius: 50%;
    color: #fff;
    font-size: 128px;
    height: 175px;
    margin: 0 30px 15px -50px;
    padding: 25px;
    width: 175px;
}
.dashboard-page .dash-in strong {
	font-size: 110px;
	font-weight: 100;
}	
/* Dashboard Page End */

/* Create Product Page */
.create-product-page {
	padding:30px 0;
}
.create-product-page h1 {
	margin: 0 0 5px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.create-product-page .subtitle {
	margin-bottom: 30px;
	text-align:center;
}
.create-product-page .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
.create-product-page .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.create-product-page .symbol-dollar {
	float: left;
    font-size: 30px;
    line-height: 1.35;
    margin-right: 15px;
}
.create-product-page #product_price {
	width: 93%;
}
/* Create Product Page End */

/* Create Promotion Page */
.create-promotion-page {
	padding:30px 0;
}
.create-promotion-page h1 {
	margin: 0 0 5px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.create-promotion-page .subtitle {
	margin-bottom: 30px;
	text-align:center;
}
.create-promotion-page .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
.create-promotion-page .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.create-promotion-page .remove_promo_file {
	color: #f00;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 7px;
}
/* Create Promotion Page End */

/* Create Training Page */
.create-training-page {
	padding:30px 0;
}
.create-training-page h1 {
	margin: 0 0 5px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.create-training-page .subtitle {
	margin-bottom: 30px;
	text-align:center;
}
.create-training-page .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
.create-training-page .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.create-training-page .btn.btn-success {
	color: #fff;
	border: 1px solid #669618;
	background: #4B760A;
	background: -moz-linear-gradient(top,  #4B760A 0%, #669618 100%);
	background: -webkit-linear-gradient(top,  #4B760A 0%,#669618 100%);
	background: linear-gradient(to bottom,  #4B760A 0%,#669618 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4B760A', endColorstr='#669618',GradientType=0 );
	text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #4B760A;
}
.create-training-page .btn.btn-success:hover {
	background: #669618;
	background: -moz-linear-gradient(top,  #669618 0%, #4B760A 100%);
	background: -webkit-linear-gradient(top,  #669618 0%,#4B760A 100%);
	background: linear-gradient(to bottom,  #669618 0%,#4B760A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669618', endColorstr='#4B760A',GradientType=0 );
	border: 1px solid #4B760A;
}
/* Create Training Page End */

/* Trainings Page */
.trainings-page {
	padding:30px 0;
}
.trainings-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.trainings-page .training-row {
	background-color:#eee;
	padding: 15px 0;
	margin: 0 0 15px 0;
}
.trainings-page .social-share-btn{
	cursor:pointer;
}
/* Trainings Page End */

/* Products Page */
.products-page {
	padding:30px 0;
}
.products-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.products-page .product-row {
	background-color:#eee;
	padding: 15px 0;
	margin: 0 0 15px 0;
}
/* Products Page End */

/* Promotions Page */
.promotions-page {
	padding:30px 0;
}
.promotions-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.promotions-page .promotion-row {
	background-color:#eee;
	padding: 15px 0;
	margin: 0 0 15px 0;
}
.promotions-page .social-share-btn{
	cursor:pointer;
}
/* Promotions Page End */

/* Bulk Share Page */
.bulk-share-page {
	padding:30px 0;
}
.bulk-share-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.bulk-share-page .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
.bulk-share-page .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
/* Bulk Share Page End */

/* Set Preferences Page */
.set-preferences-page {
	padding:30px 0;
}
.set-preferences-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.set-preferences-page .btn {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
.set-preferences-page .btn:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.set-preferences-page .material-switch > input[type="checkbox"] {
    display: none;   
}
.set-preferences-page .material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}
.set-preferences-page .material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.set-preferences-page .material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.set-preferences-page .material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.set-preferences-page .material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/* Set Preferences Page End */

/* Social Campaign Page */
.social-campaign-page {
	padding:30px 0;
}
.social-campaign-page h1 {
	margin: 0 0 30px 0;
	font-weight: 900;
	text-align:center;
	font-size:32px;
}
.social-campaign-page .btn-custom {
	padding: 10px 20px;
	color: #34313A;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	background: #c9c4d2;
	background: -moz-linear-gradient(top,  #c9c4d2 0%, #edeaf3 100%);
	background: -webkit-linear-gradient(top,  #c9c4d2 0%,#edeaf3 100%);
	background: linear-gradient(to bottom,  #c9c4d2 0%,#edeaf3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c4d2', endColorstr='#edeaf3',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c9c4d2;
	-moz-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px rgba(000,000,000,0.1), inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 1px 4px 6px #f6f4f9, 0 0 0 #000, 1px 4px 6px #edeaf3;
	text-transform:uppercase;
}
.social-campaign-page .btn-custom:hover {
	background: #edeaf3;
	background: -moz-linear-gradient(top,  #edeaf3 0%, #c9c4d2 100%);
	background: -webkit-linear-gradient(top,  #edeaf3 0%,#c9c4d2 100%);
	background: linear-gradient(to bottom,  #edeaf3 0%,#c9c4d2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeaf3', endColorstr='#c9c4d2',GradientType=0 );
	border: 1px solid #c9c4d2;
	color: #34313A;
}
.social-campaign-page .modal label{
	color:#FFFFFF;
}
.social-campaign-page .switch-button-label.off{
	color:#C9302C;
	font-size:14px;
    font-weight:bold;
    margin-top:6px;
}
.social-campaign-page .switch-button-background{
	background:#C9302C;
}
.social-campaign-page .switch-button-label.on{
	color:#449D44;
	font-size:14px;
    font-weight:bold;
    margin-top:6px;
}
.social-campaign-page .switch-button-background.checked{
	background:#449D44;
}
/* Social Campaign Page End */