@import url(https://fonts.googleapis.com/css?family=Lato:400italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Merriweather:700);
@import url(https://fonts.googleapis.com/css?family=Oswald);

.navbar {		
	border-radius:0;	
	color:white;	
}
.navbar-inverse.navbar-fixed-top{
	 background-color: #0f006f;
     border-color: #030033;
     
}
.navbar-inverse .navbar-nav > li > a {
   	color: white;
   	font-family: 'Roboto', sans-serif;
   	font-size: 17px;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

/*index.css*/	
#index-body {
	background: #eee !important;
}
.wrapper{
	margin-top: 20px;
} 
.login-form {		
	background-color: #eeeeee;		
	margin-bottom: 20px;		
	padding: 20px;		
}
.form-signin {
	max-width: 625px;
	padding: 15px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
}
.form-signin-heading {
	text-align: center;
	margin:0 0 20px 0;
	font-family: 'Roboto', sans-serif;
	color:#00ccff;
}
.checkbox {
	margin-left:20px;
	margin-bottom: 30px;
}
.checkbox {
	font-weight: normal;
	font-family:  sans-serif;
}
.form-control {
	height:auto;
}
#index-body .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}
#index-body input[type="text"], #index-body input[type="email"] {
	margin-bottom:-10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-family: 'Roboto', sans-serif;
}
#index-body input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-family: 'Roboto', sans-serif;
}
/*index.css end*/
.error-msg{
	color: #ff0000;
	font-size: 12px;
}
/*profile.css*/
#profile-body{
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
}
.container .row .col-md-4{
	margin-top: 80px;
	text-align: center;
}
.container .row .col-md-4 img{
	margin-top: 15px;
}
.profile-name p{
	font-size: 18px;
	margin-top: 10px;
	color:#6C7A89; 
	font-family: 'Roboto', sans-serif;
}
.container .col-lg-8{
	border-left:1px solid #eee;
	margin-top: 80px;
}
#well-content{
	background-color:#e5faff;
}
#well-content h3{
	color: #ff751a;
	font-weight: bold;
	margin-top: 0px;
}
#well-content p{
	padding:5px 0px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}
#well-expertise{
	background-color:#e5faff;
}
#well-expertise h3{
	color: #ff751a;
	font-weight: bold;
	margin-top: 0px;
}
#well-expertise .expertise {
	font-size: 17px;	
	font-family: 'Lato', sans-serif;
}
#well-expertise .expertise label{
	margin-right: 5px;
	padding:10px 0;
}
#comment{
	color: #676767;
	background-color: #D3D3D3;
	font-weight: 600;
	font-size: 16px;
}
#font-aw i{
	display: block;
	padding:10px;
}
.row.profile-row{
	margin-bottom:15px;
}
.profile-row .form-group{
	margin:0;
}
/*profile.css end*/

/*trainee.css*/
.list-group .list-in{
	overflow-y:auto;
	height:75vh;
}
#col-md-8well {
	background-color: white;
	color:black;
	border-radius:8px ;
}
#col-md-8well a{
	color:white;
	font-style: none;
}
#col-md-8well img{
	margin-top:10px;
	border-radius:5px;
}
#col-md-8well h2{
	font-family:'Roboto',serif;
	color:#ff751a;
	font-weight:400;
	margin:0 0 10px 0;
}
#col-md-8well p{
	font-size:14px;
	font-family: 'Merriweather', serif;
}
#col-md-8well hr{
	border:1px solid #BDC3C7;
}
/* trainee.css end*/

.edit-btn {
	display:none;
}
#progressbox {
	border: 1px solid #CAF2FF;
	padding: 1px; 
	position:relative;
	border-radius: 3px;
	margin: 10px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #CAF2FF;
	width:1%;
}
#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #FFFFFF;
}

/*training-video.css*/
#train-vid{
	background-color:#0d1926;
	background-attachment: fixed;
}
#single-vid .well{
	background-color:#fff;
	margin-top: 80px;
}
#single-vid{
	padding:10px 50px;

}
#single-vid iframe{
	border-radius:5px;
}
#single-vid .row .col-sm-6 h2{
	font-family: 'Roboto', serif;
	color:#ff751a;
	font-weight:400;
	margin-top: -8px;
}
#single-vid .row .col-sm-6 p{
	font-size: 14px;
	font-family: 'Merriweather', serif;
}
#reg-vid input[type="text"]{
	margin-left: 4em;
	margin-top:5px;
	background-color: #D3D3D3;
	width: 250px;
	height:40px;
}
#reg-vid button{
	margin-left: 4em;
	margin-top: -13px;
	height:40px;
} 
#reg-vid label{
	position: absolute;
	margin-top: 10px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color:#ff751a;
}
#reg-vid .modal-content h4 {
	color:#59ABE3; 
}
#reg-vid .modal-f h5{
	margin-left: 20px;
	color:#59ABE3; 
}
.modal-f a {
	margin-top:-50px;
	margin-left: 140px;
	display: inline-block;
}
.modal-f .btn-twitter {
	margin-left: 20px;
}
.modal-f .btn-linkedin {
	margin-left: 20px;
}
#myModal-2{
	background-color: #eee;
}
#single-vid .row .col-sm-8{
	margin-top:20px;
	padding:0px 20px;
	font-size:12px;
	font-family: 'Merriweather', serif;
}
#single-vid .fa a{
	color:#BDC3C7;
}
#related-vid{
	width: 700px;
	padding-left: 50px;
}
#related-vid .well{
	background-color:#fff;
	margin-top: 10px;
}
#related-vid h2{
	font-family: 'Roboto', serif;
	color:#ff751a;
	font-weight:400;
	margin-top: -8px;
}
#related-vid #by {
	font-weight: bold;
	font-size: 17px;
}
#reply{
	width: 580px;
	margin-left: 720px;
	margin-top: -620px;
}
#reply .well{
	background-color:#fff;
}
#reply h2{
	font-family: 'Roboto', serif;
	color:#ff751a;
	font-weight:400;
	margin-top: -8px;
}
#reply .well label{
	font-size: 17px;
	padding: 4px 0px;
}
/*training-video end*/


/*create-video.css*/
.steps-content form{
	margin-left: 20px;
	
}
.steps-content .row .col-sm-6 {
	margin-top: 15px;
}
#para-content{
	color: gray;
	padding-top:8px;
	font-size: 13px;
}
/*create-video.css end*/

/*pblic.css
#public-page,html {
    height: 100%;
}

#public-page {
    padding-top: 50px;
}
.wide {
	width:100%;
    height:60%;
    background-image:url('../image/banner-bg.jpg');
    background-size:cover;
}*/
#public-page {
    background-attachment: fixed;
	background-color: #f0f5f5;
}
#well-info{
	margin-top: 80px;
	background-color: #e5faff;
}
#well-info h4{
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 16px;
}
#para{
	margin-left:25px; 
}
#well-our-experts{
	margin-top: 0px;
	background-color: white;
	position: relative;
}
#well-our-experts .row .col-sm-8{
	font-family:'Merriweather', serif; 
	margin-left: 40px;
}
#well-our-experts h4{
	font-family: 'Roboto', serif;
	font-size: 30px;
	padding-bottom: 15px;
	text-align: center;
	color: #ff751a;
	font-weight: 400;
}
#well-our-experts h5{
	font-family: 'Roboto', serif;
	font-size: 20px;
	color: #ff751a;
}
#comment-block{
border:1px solid white;
background-color: white;
margin-top: 80px;
}
#comment-block .row .col-xs-2 img{
	margin-left: 20px;
	margin-top: 20px;
}
#comment-block .row .col-sm-10 h5
{
	font-size: 15px;
	font-family:'Merriweather', serif; 
	margin-top: 20px;
	font-weight: bold;
}
#comment-block .row .col-sm-10 p{
	font-size: 14px;
	font-family: 'Roboto', serif;
	color:gray;
}
.col-sm-10 i{
    color: #0099ff;
    padding-left: 15px;
}
#comment-block .row .col-sm-10 textarea{
	margin-left: 40px;
	margin-top: -30px;
	width: 320px;
}
#wellcomment{
	width: 400px;
	margin-top: 20px;
}
#comment-block hr{
	border:1px solid #eee;
	margin-left: -80px;
	width: 570px;

}
#well-mid-2{
	margin-top: 20px;
	background-color: white;
	position: relative;
}
#well-mid-2 h4{
	font-family: 'Roboto', serif;
	font-size: 30px;
	padding-bottom: 15px;
	text-align: center;
	color: #ff751a;
	font-weight: 400;
}
#well-mid-2 h5{
	font-family: 'Roboto', serif;
	font-size: 20px;
	color: #ff751a;
}
#well-mid-2 .row .col-md-8 h5{
	color: #0099ff;
}
#well-mid-2 .row .col-md-8 p{
	font-size: 17px;
	font-family: 'Lato', sans-serif;
}
#well-mid-2 .row .col-md-8 i{
	padding-left: 15px;
	color: #0099ff;
	margin-left: -10px;
}
#well-mid-2 hr{
	border:1px solid #eee;
}
#browse{
	font-size: 18px;
	font-family: 'Roboto', serif;
}
#well-right{
	margin-top: 80px;
	background-color: white;
}
#well-right h4{
	font-family: 'Roboto', serif;
	font-size: 30px;
	padding-bottom: 15px;
	color: #000;
	font-weight: 400;
}
#well-right hr{
	border:1px solid red;
	margin-top: -10px;
}
#well-right .row .col-sm-8 p{
	font-size: 17px;
	color: #000;
}
#well-right .row .col-sm-8 h5{
	font-size: 15px;
	color: #cc0099;
}
#news{
	color: #ff751a;
	font-family: 'Roboto', serif;
	font-size: 20px;
	font-weight: 400;
}

/*dashboard css*/
.old-promotion-file img {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44);
    height: 110px;
    margin: 0 19px 15px 3px;
    padding: 4px;
}
.old-promotion-file video {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44);
    margin: 0 19px 15px 3px;
    padding: 4px;
}