<div class="col-sm-12">
    <div class="text-center">
        <h1>Welcome to ePrentice</h1>
        <a href="{$base_url}/login/">Login</a>&nbsp;&nbsp;
        <a href="{$base_url}/register/">Register</a>
    </div>
</div>