<p ng-message="required">This field is required!</p>
<p ng-message="minlength">This value is too short!</p>
<p ng-message="maxlength">This value is too long!</p>
<p ng-message="required">This field is required!</p>
<p ng-message="email">This needs to be a valid email!</p>
<p ng-message="dimensions">Image height should > 480px</p>